html {
    scroll-behavior: smooth;
}



.documents-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    padding: 30px 0;
    text-align: center;
}

.documents-grid div {
    background: #F7F7F2;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
    color: #21897E;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.documents-grid div:hover {
    background-color: #7D7ABC;
    color: #F7F7F2;
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.documents-grid div:hover i {
    color: #eb8a90;
    transform: rotate(-5deg)scale(1.2);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 420px;
    margin: 1.5rem auto 1.2rem auto;
    background: #f5faff;
    padding: 1.5rem 1.2rem;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(34, 34, 59, 0.08);
    box-sizing: border-box;
    word-break: break-word;
    font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 0.7rem 0.9rem;
    font-size: 1rem;
    font-family: inherit;
    background: #fff;
    color: var(--text);
    transition: border 0.2s;
    resize: none;
    box-sizing: border-box;
    width: 100%;
}

.contact-form textarea {
    min-height: 80px;
    max-width: 100%;
}

#contact {
    color: #7D7ABC;
    text-align: center;
}

.contact-form button {
    transition: 0.2s ease-in-out;
    max-width: 80%;
    cursor: pointer;
}

.contact-form button:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .contact-form {
        padding: 1rem 0.5rem;
        font-size: 0.97rem;
        max-width: 80%;
        margin: 0 40px;
    }
}